<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nusture.mapper.MoneyChangeMapper">
    <select id="selectMoneyChange" resultType="com.nusture.pojo.MoneyChange">
        SELECT DISTINCT * FROM money_change
        WHERE family_code=#{familyCode}
        order by create_time
    </select>
</mapper>
